@import 'StandardStyles.css';
/* YearNavBar.css */
.navbar-container {
  display: flex;
  gap: 4px; /* Adjust the gap as needed */
  overflow: auto;
  padding: 0px; /* Add padding for better appearance */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}

.navbar-container a {
  text-decoration: none; /* Remove underline from links */
}

.navbar-container .btn-custom {
  background-color: var(--primary-blue); /* Light Blue */
  color: var(--text-light); /* White text color */
  padding: 8px 12px; /* Add padding for better button size */
  border-radius: 4px; /* Optional: Add border-radius for rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition effect */
}

.navbar-container .btn-custom:hover {
  background-color: var(--dark-blue); /* Darker Blue on hover */
  color: var(--text-light); /* White text color */
  /* Add more styles for hover state as needed */
}
