/* YearNavBar.css */
.navbar-container {
  display: flex;
  gap: 4px; /* Adjust the gap as needed */
  overflow: auto;
  border: 0px solid #3498db; /* Border color: Light Blue */
  padding: 0px; /* Add padding for better appearance */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}

.navbar-container a {
  text-decoration: none; /* Remove underline from links */
}

.navbar-container .btn-custom {
  background-color: #3498db; /* Light Blue */
  color: #ffffff; /* White text color */
  padding: 8px 12px; /* Add padding for better button size */
  border: 1px solid #2980b9; /* Border color on default state: Darker Blue */
  border-radius: 4px; /* Optional: Add border-radius for rounded corners */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition effect */
}

.navbar-container .btn-custom:hover {
  background-color: #2980b9; /* Darker Blue on hover */
  color: #ffffff; /* White text color on hover */
  /* Add more styles for hover state as needed */
}
