/* Update the class name to be more specific */
.schedule-comparison-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .schedule-comparison-table td {
    border: 1px solid #727272;
    text-align: left;
    padding: 8px;
  }

/* Apply a thicker border to the diagonal cells */
.schedule-comparison-table td.diagonal-cell {
    color:blueviolet;
    background-color: rgb(224, 224, 224);
  }

.schedule-comparison-table tr.schedule-table-blank-row{
    background-color:rgb(136, 136, 136);
    border: 1px solid rgb(136, 136, 136);
}

.schedule-comparison-table td.schedule-table-blank-row{
    background-color:rgb(136, 136, 136);
    border: 1px solid rgb(136, 136, 136);
}