/* Container to stack everything vertically */
.schedules {
    display: block;  /* Ensures items are stacked vertically */
    margin-top: 2rem;
  }
  
  .schedule-table-container {
    margin-bottom: 2rem;  /* Adds space between the tables */
  }
  
  .team-selection {
    display: flex;
    justify-content: center;  /* Centers the team pickers */
    margin-bottom: 1rem;  /* Adds space below the team picker */
  }
  
  .schedule-table {
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;  /* Ensures tables take up full width */
  }
  
  .schedule-table table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .schedule-table th, .schedule-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .schedule-table td {
    text-align: center;
  }
  
  .schedule-table td.italic {
    font-style: italic;
    background-color: #f0f0f0;  /* Light grey background */
  }
  
  
  h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .schedule-table td.green {
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark green text */
  }
  
  .schedule-table td.red {
    background-color: #f8d7da; /* Light red background */
    color: #721c24; /* Dark red text */
  }
  
  .schedule-table td.gray {
    background-color: #f0f0f0; /* Light gray background for unplayed weeks */
    color: #6c757d; /* Neutral text color */
  }
  
  