.statsTable {
    margin: auto;
    margin-top: 20px;
  }

.statsTable th {
    min-width: 100px;
}

.statsTable td {
    border: 1px solid #ddd;
    padding: 8px;
}

.statMenu {
    min-width: 250px;
    vertical-align: top;
}

.statMenuDiv{
    max-height: 600px;
    overflow: auto;
}

.statsColumn {
    vertical-align: top;
}

.statButton {
    width: 100%;
}

.active {
    background-color: lightskyblue;
}

.arrowButton {
    margin-right:"10px";
    border:"0px"
}

.statsHeaderTable{
    margin: auto;
}

.arrowButtonCell{
    width: 100px;
    vertical-align: top;
}

.headerCell{
    width: 500px;
}

@media (max-width: 768px) {
    .statMenu {
      display: none; /* Hide statMenuDiv on mobile */
    }

    .fullTable {
        margin-top: 20px;
        width: 100%;
    }

    .statsColumn h2 {
        width: 100%;
        position: relative;
    }

    .statsHeaderTable{
        width: 100%;
    }

    .arrowButtonCell{
        width: 50px;
        vertical-align: top;
    }

    .headerCell{
        width: 100%;
    }

    .statsTable {
        margin: auto;
        margin-top: 20px;
    }
}

