/* YearData.css */

/* Center the table on the screen */
.records-table {
    margin: auto;
    margin-top: 20px;
  }

  /* Add a border to each row in the table */
.records-table tbody tr {
    border: 2px solid black; /* Border color and width for rows */
  }

  .playoffs-team {
    background-color: lightgreen;
  }

  .sidebets-table{
    margin: auto;
    margin-top: 20px;
  }

  .sidebets-table tbody tr {
    border: 2px solid black; /* Border color and width for rows */
  }

  .single-sidebet-table tbody tr {
    border: 0px solid black; /* Border color and width for rows */
  }

  .single-sidebet-table tbody tr td {
    min-width: 100px;
  }

  .single-sidebet-table {
    width: 100%;
  }